@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

h2 {
    text-align: center;
    margin: 12px 0px;

}
.container{
    min-height: 50vh;
    margin: 40px 0px;
   
}
.container h2{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    
}

.myForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.myInput {
    width: 39%;
    padding: 7px;
    margin: 9px;
    font-size: 12px;
    border: 2px solid #b3b8c7;
    border-radius: 13px;
    outline: none;
}

.btn {
    padding: 11px 26px;
    font-size: 15px;
    border: 2px solid #b3b8c7;
    border-radius: 19px;
    color: white;
    background: #606a92;
    outline: none;
    cursor: pointer;
    margin: 21px;
}